.channels {
    padding-bottom: 20px;

    section {
        width: 100%;
        height: 100vh;

        &.autoplay-video {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100vh;

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 150%;
                height: auto;
                transform: translateX(-25%);

                &.lg {
                    display: block;
                }

                &.md {
                    display: none;
                }
            }
        }

        &.intro {
            height: 100vh;
            width: 100%;
            background: url("/assets/media/images/channel -1/image 2.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;

            .intro-content {
                position: relative;
                width: 100%;
                height: 100vh;

                .intro-row {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    .left-top {
                        width: 50%;
                        height: 100%;
                        padding: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .text-content {
                            width: 70%;
                            height: 50vh;
                            color: white;

                            h1 {
                                font-family: "TCCM";
                                font-size: 6rem;
                            }

                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .right-bottom {
                        width: 50%;
                        height: 100%;
                        padding: 20px;
                        display: flex;
                        justify-content: left;
                        align-items: flex-end;

                        .image-content {
                            width: 70%;
                            height: 50vh;

                            img {
                                height: auto;
                                width: 100%;
                            }
                        }
                    }
                }

                .f-logo {
                    position: absolute;
                    left: 5%;
                    bottom: 0;
                    height: 200px;
                    width: fit-content;

                    img {
                        height: auto;
                        width: 40%;
                        opacity: 0.6;
                    }
                }
            }
        }

        &.channel {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            .channel-content {
                display: flex;
                width: 80%;
                justify-content: center;

                .text-content {
                    width: 50%;
                    padding: 5% 30px;
                    color: white;

                    .title {
                        h1 {
                            text-transform: uppercase;
                            font-family: "TCCM";
                            font-size: 5rem;
                        }
                    }

                    .desc>p {
                        font-size: 1.3rem;
                        font-family: "Bebas Nueue";
                        text-transform: uppercase;
                    }
                }

                .media-content {
                    width: 50%;
                    padding: 5% 30px;
                    overflow: hidden;

                    .video-wrap {
                        video {}
                    }

                    .image-wrap {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            &.odd {
                .channel-content {
                    flex-direction: row;
                }

                .f-long-logo {
                    position: absolute;
                    width: 80%;
                    height: 100px;
                    bottom: 0;
                    left: 10%;

                    img {
                        height: 100%;
                        width: auto;
                        opacity: 0.2;
                    }
                }
            }

            &.even {
                .channel-content {
                    flex-direction: row-reverse;
                }

                .f-logo {
                    position: absolute;
                    width: auto;
                    height: 200px;
                    bottom: 0;
                    right: 10%;

                    img {
                        height: 100%;
                        width: auto;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        section {
            width: 100%;

            &.autoplay-video {
                video {
                    &.md {
                        display: block !important;
                    }

                    &.lg {
                        display: none !important;
                    }
                }
            }

            &.intro {

                .intro-content {

                    .intro-row {
                        flex-direction: column;

                        .left-top {
                            width: 100%;

                            .text-content {

                                h1 {}

                                p {}
                            }
                        }

                        .right-bottom {
                            width: 100%;
                            justify-content: center;
                            align-items: center;

                            .image-content {

                                img {}
                            }
                        }
                    }

                    .f-logo {

                        img {}
                    }
                }
            }

            &.channel {

                height: fit-content !important;
                display: flex;

                &.odd {
                    .channel-content {
                        flex-direction: column !important;
                    }

                    .f-long-logo {
                        height: 50px;
                    }
                }

                &.even {
                    .channel-content {
                        flex-direction: column !important;
                    }

                    .f-logo {
                        height: 70px;
                    }
                }

                .channel-content {
                    .text-content {
                        width: 100%;
                        padding: 14px 0 !important;

                        h1 {
                            text-transform: uppercase;
                            font-family: "TCCM";
                            font-size: 3rem;
                        }

                        .desc>p {
                            font-size: 16px;
                        }
                    }

                    .media-content {
                        padding: 14px 0 !important;
                        width: 100%;
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;

                        .video-wrap {
                            width: 80%;

                            video {
                                width: 100%;
                            }
                        }

                        .image-wrap {
                            width: 80%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:500px) {
        section {
            width: 100%;

            &.autoplay-video {
                video {
                    &.md {
                        display: block;
                    }

                    &.lg {
                        display: none;
                    }
                }
            }

            &.intro {
                background-size: auto 100%;

                .intro-content {

                    .intro-row {
                        flex-direction: column;

                        .left-top {
                            width: 100%;

                            .text-content {

                                h1 {
                                    font-size: 1.8rem;
                                }

                                p {
                                    font-size: 1rem;
                                }
                            }
                        }

                        .right-bottom {
                            width: 100%;
                            justify-content: center;
                            align-items: center;

                            .image-content {

                                img {}
                            }
                        }
                    }

                    .f-logo {
                        left: 0 !important;

                        img {}
                    }
                }
            }

            &.channel {
                display: flex;

                &.odd {
                    .channel-content {
                        flex-direction: column !important;
                    }

                    .f-long-logo {
                        height: 40px !important;
                    }
                }

                &.even {
                    .channel-content {
                        flex-direction: column !important;
                    }
                }

                .channel-content {
                    .text-content {
                        width: 100%;
                        padding: inherit 0;

                        h1 {
                            text-transform: uppercase;
                            font-family: "TCCM";
                            font-size: 3rem !important;
                        }

                        .desc>p {
                            font-size: 16px;
                        }
                    }

                    .media-content {
                        padding: inherit 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    @media screen and (max-width:330px) {
        section {
            width: 100%;

            &.intro {
                .intro-content {

                    .intro-row {
                        flex-direction: column;

                        .left-top {
                            width: 100%;

                            .text-content {

                                h1 {
                                    font-size: 1.3rem;
                                }

                                p {}
                            }
                        }

                        .right-bottom {
                            width: 100%;
                            justify-content: center;
                            align-items: center;

                            .image-content {

                                img {}
                            }
                        }
                    }

                    .f-logo {

                        img {}
                    }
                }
            }

            &.channel {
                display: flex;

                &.odd {
                    .channel-content {
                        flex-direction: column !important;
                    }

                    .f-long-logo {
                        height: 50px;
                    }
                }

                &.even {
                    .channel-content {
                        flex-direction: column !important;
                    }
                }

                .channel-content {
                    .text-content {
                        width: 100%;
                        padding: inherit 0;

                        h1 {
                            text-transform: uppercase;
                            font-family: "TCCM";
                            font-size: 3rem;
                        }

                        .desc>p {
                            font-size: 16px;
                        }
                    }

                    .media-content {
                        padding: inherit 0;
                        width: 100%;
                    }
                }
            }
        }
    }

}