.m-readmore-click{
    display:none;
    color:white;
    padding:5px 0;
    font-weight:bold;
    cursor:pointer;
}

#myBtn{
    color:white;
    padding:5px 10px;
    font-weight:bold;
    cursor:pointer;
}


@media only screen and (max-width: 1500px) {
    .m-readmore-click{
        display:block;
    }
    .m-readmore {
        display:none !important;
    }   
}

.show{
    display:block !important;
}