.index {
    .our-brewery {
        position: relative;
        height: 100vh;
        width: 100%;

        .content {
            width: 100%;
            height: 60vh;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                position: relative;
                top: 50%;
                left: 50%;
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                font-family: "NCS Radhiumz";
                font-size: 14vw;
                background: url("/assets//media/images/beer-10.gif");
                background-size: cover;
                background-position: 50% 18%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 0.8em;
            }
        }
    }

    .introduction {
        position: relative;
        height: 100vh;
        width: 100%;

        .intro {
            &>.text-content {
                position: absolute;
                width: 40%;
                min-height: 100%;
                z-index: 1;
                top: 5%;
                left: 10%;
                color: white;

                .image {
                    height: 200px;
                    position: relative;

                    img {
                        height: 100%;
                        width: auto;
                        position: absolute;
                        left: 30%;
                    }
                }

                .content {
                    margin-top: 50px;
                    text-transform: uppercase;
                    font-family: "TCCM", sans-serif;
                    font-weight: normal;

                    h1 {
                        font-family: inherit;
                        font-size: 7rem;
                        letter-spacing: 0.3ch;
                    }

                    .brief {
                        font-family: inherit;
                        font-weight: 100;
                        font-size: 24px;
                        line-height: 1.2em;
                        letter-spacing: 0.3ch;

                        .m-readmore-click {
                            font-family: inherit;
                        }
                    }
                }
            }

            &>.video-content {
                position: absolute;
                height: 100%;
                width: 60%;
                top: 0;
                right: 0;
                overflow: hidden;
                z-index: 0;

                video {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .stamp {
        z-index: 2;
        height: 160px;
        width: auto;
        position: absolute;
        right: 10%;
        bottom: -9%;

        img {
            height: 100%;
            width: auto;
        }
    }

    .potential {
        position: relative;
        height: 100vh;
        width: 100%;

        .potential-content {
            &>.text-content {
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                width: 40%;
                height: auto;
                z-index: 1;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                color: white;
                padding: 40px;

                .content {
                    text-transform: uppercase;
                    font-family: "TCCM", sans-serif;

                    .wrap-right {
                        display: flex;
                        justify-content: right;
                        font-family: "TCCM", sans-serif;

                        h1 {
                            font-family: inherit;
                            font-size: 7rem;
                            text-align: right;
                            width: 80%;
                            letter-spacing: 0.3ch;
                        }
                    }

                    .brief {
                        font-family: inherit;
                        font-weight: 100;
                        font-size: 24px;
                        line-height: 1.2em;
                        letter-spacing: 0.3ch;
                    }
                }
            }

            &>.video-content {
                position: absolute;
                height: 100%;
                width: 80%;
                top: 0;
                left: 0;
                overflow: hidden;
                z-index: 0;

                video {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .mission {
        position: relative;
        height: 100vh;
        width: 100%;

        overflow-x: hidden;

        .abstract {
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100%;
            height: 80vh;
            z-index: 1;

            .glass-splash {
                position: relative;
                height: 80%;
                top: 0;
                left: 0;

                img {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100%;
                    width: auto;
                }
            }

            .philo-text {
                position: relative;
                top: -60vh;
                left: 0;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;

                img {
                    height: auto;
                    width: 80%;
                }

                &.sm {
                    display: none;
                }
            }

            .f-logo {
                position: relative;
                top: -96vh;
                left: 9%;
                height: 200px;
                width: fit-content;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .mission-content-wrap {
            z-index: 1;
            position: relative;
            top: 29vh;
            left: 0;
            height: 70vh;
            width: 100%;
            display: flex;
            justify-content: center;

            .mission-content {
                height: 100%;
                width: 60%;
                display: flex;

                .image-content {
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }

                .text-content {
                    padding: 0 10%;
                    @import "_slider";

                    .mission-carousel {
                        .swiper {
                            width: 500px;
                            min-height: 100%;
                        }

                        .swiper-slide {
                            text-align: center;
                            font-size: 18px;
                            background: transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            min-height: 200px;
                            padding: 20px 10px;

                            .slider-content {
                                height: 100%;
                                margin: auto 0;
                                padding: 20px;
                                color: white;
                                text-transform: uppercase;

                                .header {
                                    h1 {
                                        font-size: 6.5rem;
                                        font-family: "TCCM";
                                    }
                                }

                                .brief {
                                    margin-top: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .beverages {
        position: relative;
        min-height: 150vh;
        width: 100%;

        .f-logo {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 50%;
            height: 200px;

            img {
                height: 100%;
                width: auto;
                opacity: 0.3;
            }

            &.down {
                position: absolute;
                top: unset;
                left: unset;
                right: 18%;
                bottom: -20vh;
                height: 49vh;
                opacity: 0.4;
            }
        }

        .image-video-abstracts {
            z-index: 1;
            position: absolute;
            right: 0;
            width: 80%;
            height: 70%;
            top: 10vh;
            display: flex;

            .sect {
                width: 28%;
                height: 100%;
                overflow: hidden;

                &.img1 {
                    height: 60%;

                    img {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 100%;
                        filter: grayscale(100%);
                    }
                }

                &.video {
                    margin-top: 10%;
                    height: 70%;

                    video {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: inherit;
                        top: 20%;
                        height: 100vh;
                        background-color: #383838;
                    }
                }

                &.img2 {
                    height: 70%;

                    img {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 100%;
                    }
                }
            }
        }

        .down-video {
            z-index: 1;
            position: absolute;
            bottom: -20vh;
            left: 31.8%;
            width: 33%;
            height: 50vh;
            overflow: hidden;

            video {
                position: relative;
                top: 0;
                left: 50%;
                height: 100%;
                width: auto;
                transform: translateX(-50%);
            }

            img {
                position: relative;
                top: 0;
                left: 50%;
                height: auto;
                width: 100%;
                transform: translateX(-50%);
            }
        }

        .section-title {
            z-index: 2;
            position: absolute;
            top: 20vh;
            left: 5%;
            font-family: "TCCM", sans-serif;
            font-size: 7rem;
            color: white;

            h1 {
                font-family: inherit;
                font-size: 7rem;
                text-transform: uppercase;
                letter-spacing: 0.3ch;
            }
        }

        .beer-glass {
            z-index: 2;
            top: 40vh;
            left: 5%;
            position: absolute;
            height: 250px;
            width: auto;

            img {
                height: 100%;
                width: auto;
            }
        }

        .elegant-heading {
            z-index: 2;
            position: absolute;
            top: 70vh;
            left: 5%;
            height: auto;
            width: 20%;

            h1 {
                font-family: "TCCM";
                font-size: 8rem;
                line-height: 1em;
                color: white;
            }
        }

    }

    .gallery {
        $gap: 30vh;
        position: relative;
        min-height: 100vh;
        width: 100%;
        margin-top: $gap;

        .f-brand-logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 200px;
            width: auto;

            img {
                height: 100%;
                width: auto;
            }
        }

        .section-title {
            position: relative;
            width: 100%;
            height: 170px;

            .title-content {
                display: flex;
                justify-content: center;
                width: inherit;
                height: inherit;

                .content {
                    height: 100%;
                    width: 70%;
                    display: flex;
                    align-items: center;

                    text-transform: uppercase;
                    font-family: "TCCM", sans-serif;
                    font-weight: normal;

                    h1 {
                        font-family: inherit;
                        font-size: 7rem;
                        letter-spacing: 0.3ch;
                        color: white;
                    }

                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }

        .section-gallery-wrap {
            width: 100%;
            height: 60vh;
            padding: 50px 0;
            display: flex;
            justify-content: center;

            .main-gallery {
                width: 80%;
                height: inherit;
                display: flex;

                .single {
                    width: 100%;
                    height: inherit;
                    overflow: hidden;

                    video {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1600px) {
    .index {
        .intro {
            &>.text-content {

                .image {

                    img {}
                }

                .content {
                    h1 {}

                    .brief {}
                }
            }

            &>.video-content {

                video {}
            }
        }

        .stamp {

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {

                    .content {
                        .wrap-right {
                            h1 {
                                font-size: 4rem;
                            }
                        }

                        .brief {}
                    }
                }

                &>.video-content {

                    video {}
                }
            }
        }

        .mission {
            .abstract {

                .glass-splash {

                    img {}
                }

                .philo-text {

                    img {}
                }

                .f-logo {
                    img {}
                }
            }

            .mission-content-wrap {
                .mission-content {
                    .image-content {
                        img {}
                    }

                    .text-content {

                        .carousel-wrapper {
                            .carousel-slide {
                                .slider-content {
                                    .header {
                                        h1 {}
                                    }

                                    .brief {}
                                }
                            }
                        }
                    }
                }
            }
        }

        .beverages {
            .f-logo {
                height: 100px;

                img {}

                &.down {}
            }

            .image-video-abstracts {
                .sect {
                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {}
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                video {}
            }

            .section-title {
                h1 {}
            }

            .beer-glass {
                img {}
            }

            .elegant-heading {
                h1 {}
            }

        }

        .gallery {
            .f-brand-logo {
                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        h1 {}

                        img {}
                    }
                }
            }

            .section-gallery-wrap {
                .main-gallery {
                    .single {
                        video {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .index {
        .intro {
            &>.text-content {
                width: 80% !important;

                .image {

                    img {}
                }

                .content {
                    h1 {}

                    .brief {}
                }
            }

            &>.video-content {

                video {}
            }
        }

        .stamp {

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {

                    .content {
                        .wrap-right {
                            h1 {}
                        }

                        .brief {}
                    }
                }

                &>.video-content {

                    video {}
                }
            }
        }

        .mission {
            .abstract {

                .glass-splash {

                    img {}
                }

                .philo-text {

                    img {}
                }

                .f-logo {
                    img {}
                }
            }

            .mission-content-wrap {
                left: -13%;

                .mission-content {
                    .image-content {
                        img {}
                    }

                    .text-content {

                        .carousel-wrapper {
                            .carousel-slide {
                                .slider-content {
                                    .header {
                                        h1 {}
                                    }

                                    .brief {}
                                }
                            }
                        }
                    }
                }
            }
        }

        .beverages {
            .f-logo {

                img {}

                &.down {}
            }

            .image-video-abstracts {
                right: 0;
                width: 100%;
                top: 17vh;
                left: 5%;

                .sect {
                    width: 32%;

                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {
                            display: none;
                        }
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                video {}
            }

            .section-title {
                top: 0;

                h1 {}
            }

            .beer-glass {
                img {}
            }

            .elegant-heading {
                h1 {}
            }

        }

        .gallery {
            .f-brand-logo {
                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        justify-content: space-around;

                        h1 {
                            font-size: 9vw;
                        }

                        img {
                            width: 40vw;
                            height: auto;
                        }
                    }
                }
            }

            .section-gallery-wrap {
                height: auto;

                .main-gallery {
                    flex-direction: column;

                    .single {
                        height: 60vh;

                        video {
                            position: relative;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .index {
        .intro {
            &>.text-content {
                .image {
                    img {
                        left: 0 !important;
                    }
                }

                .content {
                    h1 {}

                    .brief {
                        height: 30vh;
                        overflow-y: scroll;
                    }
                }
            }

            &>.video-content {

                video {}
            }
        }

        .stamp {

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {
                    width: 60%;

                    .content {
                        .wrap-right {
                            h1 {}
                        }

                        .brief {
                            height: 30vh;
                            overflow-y: scroll;
                        }
                    }
                }

                &>.video-content {

                    video {}
                }
            }
        }

        .mission {
            height: 140vh !important;
            overflow: unset;

            .abstract {

                .glass-splash {

                    img {}
                }

                .philo-text {

                    img {}
                }

                .f-logo {
                    top: -87vh;
                    left: 10%;
                    height: 140px !important;

                    img {}
                }
            }

            .mission-content-wrap {
                .mission-content {
                    flex-direction: column;

                    .image-content {
                        img {}
                    }

                    .text-content {

                        .carousel-wrapper {
                            .carousel-slide {
                                .slider-content {
                                    .header {
                                        h1 {}
                                    }

                                    .brief {}
                                }
                            }
                        }
                    }
                }
            }
        }

        .beverages {
            .f-logo {

                img {}

                &.down {}
            }

            .image-video-abstracts {
                right: 0;
                width: 100%;
                top: 17vh;
                left: 5%;

                .sect {
                    width: 32%;

                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {
                            display: none;
                        }
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                bottom: -17vh;
                left: 46.8%;

                video {}
            }

            .section-title {
                top: 0;

                h1 {}
            }

            .beer-glass {
                img {}
            }

            .elegant-heading {
                top: 115vh;
                width: 50%;

                h1 {
                    font-size: 11vw;
                }
            }

        }

        .gallery {
            .f-brand-logo {
                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        justify-content: space-around;

                        h1 {
                            font-size: 9vw;
                        }

                        img {
                            width: 40vw;
                            height: auto;
                        }
                    }
                }
            }

            .section-gallery-wrap {
                height: auto;

                .main-gallery {
                    flex-direction: column;

                    .single {
                        height: 60vh;

                        video {
                            position: relative;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:630px) {
    .index {
        .intro {
            &>.text-content {
                .image {
                    img {
                        left: 0 !important;
                    }
                }

                .content {
                    h1 {
                        font-size: 4rem;
                    }

                    .brief {
                        height: 30vh;
                        overflow-y: scroll;
                    }
                }
            }

            &>.video-content {

                video {}
            }
        }

        .stamp {

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {
                    width: 60%;

                    .content {
                        .wrap-right {
                            h1 {}
                        }

                        .brief {
                            height: 30vh;
                            overflow-y: scroll;
                        }
                    }
                }

                &>.video-content {

                    video {}
                }
            }
        }

        .mission {
            height: 140vh !important;
            overflow: unset;

            .abstract {
                .glass-splash {

                    img {}
                }

                .philo-text {

                    img {}
                }

                .f-logo {
                    img {}
                }
            }

            .mission-content-wrap {
                .mission-content {
                    flex-direction: column;

                    .image-content {
                        img {}
                    }

                    .text-content {

                        .carousel-wrapper {
                            .carousel-slide {
                                .slider-content {
                                    .header {
                                        h1 {}
                                    }

                                    .brief {}
                                }
                            }
                        }
                    }
                }
            }
        }

        .beverages {
            .f-logo {

                img {}

                &.down {}
            }

            .image-video-abstracts {
                right: 0;
                width: 100%;
                top: 17vh;
                left: 5%;

                .sect {
                    width: 32%;

                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {
                            display: none;
                        }
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                bottom: -17vh;
                left: 46.8%;

                video {}
            }

            .section-title {
                top: 0;

                h1 {}
            }

            .beer-glass {
                img {}
            }

            .elegant-heading {
                top: 115vh;
                width: 50%;

                h1 {
                    font-size: 11vw;
                }
            }

        }

        .gallery {
            .f-brand-logo {
                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        justify-content: space-around;

                        h1 {
                            font-size: 9vw;
                        }

                        img {
                            width: 40vw;
                            height: auto;
                        }
                    }
                }
            }

            .section-gallery-wrap {
                height: auto;

                .main-gallery {
                    flex-direction: column;

                    .single {
                        height: 60vh;

                        video {
                            position: relative;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .index {
        .intro {
            &>.text-content {
                top: 15% !important;

                .image {
                    img {
                        left: 0 !important;
                    }
                }

                .content {
                    h1 {
                        font-size: 4rem !important;
                    }

                    .brief {
                        height: 30vh;
                        overflow-y: scroll;
                    }
                }
            }

            &>.video-content {
                height: 50vh !important;
                width: 100% !important;
                top: 0 !important;
                left: 40px;

                video {}
            }
        }

        .stamp {
            height: 90px;
            right: 6%;
            bottom: -6%;

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {
                    width: 90%;

                    .content {
                        .wrap-right {
                            h1 {}
                        }

                        .brief {
                            height: 30vh;
                            overflow-y: scroll;
                        }
                    }
                }

                &>.video-content {
                    width: 100%;

                    video {}
                }
            }
        }

        .mission {
            max-height: 100vh !important;
            overflow: unset;

            .abstract {
                position: absolute;
                top: 10vh;
                left: 0;
                width: 100%;
                height: 80vh;
                z-index: 2;

                .glass-splash {
                    height: 50% !important;

                    img {}
                }

                .philo-text {
                    // top: 27px !important;
                    // left: 38% !important;
                    // width: 71% !important;

                    top: -13vh !important;
                    left: 13% !important;
                    width: 100% !important;

                    img {
                        display: none;
                    }

                    &.sm {
                        display: block;

                        .outlined {
                            font-family: "TCCM";
                            text-transform: uppercase;
                            font-size: 4.5rem;
                            color: transparent;
                            -webkit-text-stroke: 1px white;
                        }
                    }
                }

                .f-logo {
                    top: -17vh !important;
                    left: 5%;
                    height: 95px !important;

                    img {}
                }
            }

            .mission-content-wrap {

                .mission-content {
                    flex-direction: column;

                    .image-content {

                        img {
                            width: 80%;
                        }
                    }

                    .text-content {
                        .mission-carousel {
                            position: relative;
                            top: -27vh;
                            left: 22%;

                            .swiper {
                                width: 345px !important;
                                position: relative;
                                left: 0;

                                .swiper-wrapper {
                                    .swiper-slide {

                                        .slider-content {

                                            .header {
                                                h1 {
                                                    font-size: 4rem;
                                                }
                                            }

                                            .brief {
                                                margin-top: 10px;
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }


                        }
                    }
                }
            }
        }

        .beverages {
            min-height: 100vh !important;

            .f-logo {

                img {}

                &.down {}
            }

            .image-video-abstracts {
                right: 0;
                width: 100%;
                top: 17vh;
                left: 5%;

                .sect {
                    width: 32%;

                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {
                            display: none;
                        }
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                bottom: -25vh;
                left: 34%;
                width: 50% !important;

                video {}
            }

            .section-title {
                top: 0;

                h1 {
                    font-size: 5rem;
                }
            }

            .beer-glass {
                display: none;

                img {}
            }

            .elegant-heading {
                top: 78vh !important;
                width: 50%;

                h1 {
                    font-size: 11vw;
                }
            }

        }

        .gallery {
            .f-brand-logo {
                position: absolute;
                top: 4%;
                left: 0;
                height: 100px;
                width: auto;

                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        justify-content: space-around;

                        h1 {
                            font-size: 9vw;
                        }

                        img {
                            width: 40vw;
                            height: auto;
                        }
                    }
                }
            }

            .section-gallery-wrap {
                height: auto;

                .main-gallery {
                    flex-direction: column;

                    .single {
                        height: 60vh;

                        video {
                            position: relative;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:300px) {
    .index {
        .intro {
            &>.text-content {
                .image {
                    img {
                        left: 0 !important;
                    }
                }

                .content {
                    h1 {
                        font-size: 4rem !important;
                    }

                    .brief {
                        height: 30vh;
                        overflow-y: scroll;
                    }
                }
            }

            &>.video-content {

                video {}
            }
        }

        .stamp {
            height: 90px;
            right: 6%;
            bottom: -6%;

            img {}
        }

        .potential {

            .potential-content {
                &>.text-content {
                    width: 90%;

                    .content {
                        .wrap-right {
                            h1 {}
                        }

                        .brief {
                            height: 30vh;
                            overflow-y: scroll;
                        }
                    }
                }

                &>.video-content {
                    width: 100%;

                    video {}
                }
            }
        }

        .mission {
            height: 140vh !important;
            overflow: unset;

            .abstract {
                position: absolute;
                top: 10vh;
                left: 0;
                width: 100%;
                height: 80vh;
                z-index: 1;

                .glass-splash {

                    img {}
                }

                .philo-text {

                    img {}
                }

                .f-logo {
                    top: -80vh;
                    left: 5%;
                    height: 95px !important;

                    img {}
                }
            }

            .mission-content-wrap {

                .mission-content {
                    flex-direction: column;

                    .image-content {

                        img {
                            height: 100%;
                        }
                    }

                    .text-content {
                        .mission-carousel {
                            .swiper {
                                width: 345px !important;

                                .swiper-wrapper {
                                    position: relative;
                                    left: -22%;

                                    .swiper-slide {

                                        .slider-content {

                                            .header {
                                                h1 {
                                                    font-size: 4rem;
                                                }
                                            }

                                            .brief {
                                                margin-top: 10px;
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }


                        }
                    }
                }
            }
        }

        .beverages {
            .f-logo {

                img {}

                &.down {}
            }

            .image-video-abstracts {
                right: 0;
                width: 100%;
                top: 17vh;
                left: 5%;

                .sect {
                    width: 32%;

                    &.img1 {
                        img {}
                    }

                    &.video {
                        video {}

                        &::before {
                            display: none;
                        }
                    }

                    &.img2 {
                        img {}
                    }
                }
            }

            .down-video {
                bottom: -25vh;
                left: 34%;
                width: 50% !important;

                video {}
            }

            .section-title {
                top: 0;

                h1 {
                    font-size: 5rem;
                }
            }

            .beer-glass {
                img {}
            }

            .elegant-heading {
                top: 115vh;
                width: 50%;

                h1 {
                    font-size: 11vw;
                }
            }

        }

        .gallery {
            .f-brand-logo {
                position: absolute;
                top: 4%;
                left: 0;
                height: 100px;
                width: auto;

                img {}
            }

            .section-title {
                .title-content {
                    .content {
                        justify-content: space-around;

                        h1 {
                            font-size: 9vw;
                        }

                        img {
                            width: 40vw;
                            height: auto;
                        }
                    }
                }
            }

            .section-gallery-wrap {
                height: auto;

                .main-gallery {
                    flex-direction: column;

                    .single {
                        height: 60vh;

                        video {
                            position: relative;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}