@import "_base";

.index {
  .introduction {
    position: relative;
    height: 100vh;
    width: 100%;

    .intro {
      & > .text-content {
        position: absolute;
        width: 40%;
        min-height: 100%;
        z-index: 1;
        top: 5%;
        left: 10%;
        color: white;

        .image {
          height: 200px;
          position: relative;

          img {
            height: 100%;
            width: auto;
            position: absolute;
            left: 30%;
          }
        }

        .content {
          margin-top: 50px;
          text-transform: uppercase;
          font-family: "TCCM", sans-serif;
          font-weight: normal;
          h1 {
            font-family: inherit;
            font-size: 7rem;
            letter-spacing: 0.3ch;
          }

          .brief {
            font-family: inherit;
            font-weight: 100;
            font-size: 24px;
            line-height: 1.2em;
            letter-spacing: 0.3ch;
          }
        }
      }

      & > .video-content {
        position: absolute;
        height: 100%;
        width: 60%;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 0;

        video {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .stamp {
    z-index: 2;
    height: 160px;
    width: auto;
    position: absolute;
    right: 10%;
    bottom: -9%;

    img {
      height: 100%;
      width: auto;
    }
  }

  .potential {
    position: relative;
    height: 100vh;
    width: 100%;

    .potential-content {
      & > .text-content {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 40%;
        height: auto;
        z-index: 1;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        color: white;
        padding: 40px;

        .content {
          text-transform: uppercase;
          font-family: "TCCM", sans-serif;
          .wrap-right {
            display: flex;
            justify-content: right;
            h1 {
              font-family: inherit;
              font-size: 7rem;
              text-align: right;
              width: 80%;
              letter-spacing: 0.3ch;
            }
          }

          .brief {
            font-family: inherit;
            font-weight: 100;
            font-size: 24px;
            line-height: 1.2em;
            letter-spacing: 0.3ch;
          }
        }
      }

      & > .video-content {
        position: absolute;
        height: 100%;
        width: 80%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 0;

        video {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .mission {
    position: relative;
    height: 100vh;
    width: 100%;

    overflow-x: hidden;
    .abstract {
      position: absolute;
      top: 10vh;
      left: 0;
      width: 100%;
      height: 80vh;
      z-index: 1;

      .glass-splash {
        position: relative;
        height: 80%;
        top: 0;
        left: 0;

        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 100%;
          width: auto;
        }
      }

      .philo-text {
        position: relative;
        top: -60vh;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;

        img {
          height: auto;
          width: 80%;
        }
      }

      .f-logo {
        position: relative;
        top: -96vh;
        left: 9%;
        height: 200px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .mission-content-wrap {
      z-index: 0;
      position: relative;
      top: 29vh;
      left: 0;
      height: 70vh;
      width: 100%;
      display: flex;
      justify-content: center;
      .mission-content {
        height: 100%;
        width: 60%;
        display: flex;
        .image-content {
          height: 100%;
          img {
            height: 100%;
          }
        }
        .text-content {
          padding: 0 10%;
          @import "_slider";

          .carousel-wrapper {
            height: 50vh;
            width: 70vw;
            .carousel-slide {
              .slider-content {
                height: 100%;
                margin: auto 0;
                padding: 20px;
                color: white;
                text-transform: uppercase;
                .header {
                  h1 {
                    font-size: 6.5rem;
                  }
                }
                .brief {
                  margin-top: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .beverages {
    position: relative;
    min-height: 150vh;
    width: 100%;
    .f-logo {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 50%;
      height: 200px;
      img {
        height: 100%;
        width: auto;
        opacity: 0.3;
      }
      &.down {
        position: absolute;
        top: unset;
        left: unset;
        right: 18%;
        bottom: -20vh;
        height: 49vh;
        opacity: 0.4;
      }
    }
    .image-video-abstracts {
      z-index: 1;
      position: absolute;
      right: 0;
      width: 80%;
      height: 70%;
      top: 10vh;
      display: flex;
      .sect {
        width: 28%;
        height: 100%;
        overflow: hidden;
        &.img1 {
          height: 60%;
          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            filter: grayscale(100%);
          }
        }
        &.video {
          margin-top: 10%;
          height: 70%;
          video {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
          }
          &::before {
            content: "";
            position: absolute;
            width: inherit;
            top: 16vh;
            height: 100vh;
            background-color: #383838;
          }
        }
        &.img2 {
          height: 70%;
          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
          }
        }
      }
    }
    .down-video {
      z-index: 1;
      position: absolute;
      bottom: -20vh;
      left: 31.8%;
      width: 33%;
      height: 50vh;
      background-color: yellow;
      overflow: hidden;
      video {
        position: relative;
        top: 0;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
      }
    }
    .section-title {
      z-index: 2;
      position: absolute;
      top: 20vh;
      left: 5%;
      font-family: "TCCM", sans-serif;
      font-size: 7rem;
      color: white;
      h1 {
        font-family: inherit;
        font-size: 7rem;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
      }
    }
    .beer-glass {
      z-index: 2;
      top: 40vh;
      left: 5%;
      position: absolute;
      height: 250px;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
    .elegant-heading {
      z-index: 2;
      position: absolute;
      top: 70vh;
      left: 5%;
      height: auto;
      width: 20%;
      h1 {
        font-family: "TCCM";
        font-size: 8rem;
        line-height: 1em;
        color: white;
      }
    }
  }

  .gallery {
    $gap: 30vh;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-top: $gap;
    .f-brand-logo {
      position: absolute;
      top: 0;
      left: 0;
      height: 200px;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
    .section-title {
      position: relative;
      width: 100%;
      height: 170px;
      .title-content {
        display: flex;
        justify-content: center;
        width: inherit;
        height: inherit;
        .content {
          height: 100%;
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          text-transform: uppercase;
          font-family: "TCCM", sans-serif;
          font-weight: normal;
          h1 {
            font-family: inherit;
            font-size: 7rem;
            letter-spacing: 0.3ch;
            color: white;
          }
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
    .section-gallery-wrap {
      width: 100%;
      height: 60vh;
      padding: 50px 0;
      display: flex;
      justify-content: center;
      .main-gallery {
        width: 80%;
        height: inherit;
        background-color: #383838;
      }
    }
  }
}

@import "_custom";
